<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <h1>Resources</h1>
    </div>
    <div class="col-lg-12">
      <i class="fa fa-plus fa-2x clickable float-right" title="Add Resource"></i>
      <p>&nbsp;</p>
    </div>
    <div class="col-lg-2">
      <div class="card">
        <div class="card-block">
          <div class="form-group row">
            <label class="col-lg-12 form-control-label filter-title">Resource Status</label>
            <div class="col-lg-12">
              <div class="checkbox">
                <label for="checkbox1">
                  <input type="checkbox" id="checkbox1" name="checkbox1" value="active"> Active
                </label>
              </div>
              <div class="checkbox">
                <label for="checkbox2">
                  <input type="checkbox" id="checkbox2" name="checkbox2" value="inactive"> Inactive
                </label>
              </div>
            </div>
            <div class="col-lg-12 hr_line"></div>
            <label class="col-lg-12 form-control-label filter-title">Location</label>
            <div class="col-lg-12">
              <div class="checkbox">
                <label for="checkbox3">
                  <input type="checkbox" id="checkbox3" name="checkbox3" value="onsite"> Onsite
                </label>
              </div>
              <div class="checkbox">
                <label for="checkbox4">
                  <input type="checkbox" id="checkbox4" name="checkbox4" value="offshore"> Offshore
                </label>
              </div>
            </div>
            <div class="col-lg-12 hr_line"></div>
            <label class="col-lg-12 form-control-label filter-title">Resource Type</label>
            <div class="col-lg-12">
              <div class="checkbox">
                <label for="checkbox5">
                  <input type="checkbox" id="checkbox5" name="checkbox5" value="employee"> Employee
                </label>
              </div>
              <div class="checkbox">
                <label for="checkbox6">
                  <input type="checkbox" id="checkbox6" name="checkbox6" value="contractor"> Contractor
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-block">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th class="hidden-sm-down">Organization</th>
                <th class="hidden-sm-down">Role</th>
                <th class="text-right hidden-sm-down">Bill Rate</th>
                <th class="text-right">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable" *ngFor="let resource of pagedResources">
                <td>{{resource.EmpName}}</td>
                <td class="hidden-sm-down">{{resource.Organization}}</td>
                <td class="hidden-sm-down">{{resource.Role}}</td>
                <td class="text-right hidden-sm-down">{{resource.CBRate |  currency : 'USD' : true : '1.2-2'}}</td>
                <td class="text-right">
                  <span class="badge badge-success" *ngIf="isActive(resource.StartDateActive, resource.EndDateActive) == 'A'">Active</span>
                  <span class="badge badge-default" *ngIf="isActive(resource.StartDateActive, resource.EndDateActive) == 'I'">Inactive</span>
                  <span class="badge badge-warning" *ngIf="isActive(resource.StartDateActive, resource.EndDateActive) == 'P'">Pending</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(1)">First</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)">Prev</a>
            </li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>