<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    YTD Project Hours
                </div>
                <div class="card-block">
                    <div class="chart-wrapper">
                        <ngx-charts-bar-vertical
                            class="col-md-12"
                            [view]=""
                            [scheme]="colorScheme"
                            [results]="yoyprjhrs"
                            [gradient]="false"
                            [xAxis]="true"
                            [yAxis]="true"
                            [legend]="false"
                            [showXAxisLabel]="true"
                            [showYAxisLabel]="true"
                            [xAxisLabel]="'Year'"
                            [yAxisLabel]="'Hours'"
                            (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    YTD Project Dollars
                </div>
                <div class="card-block">
                    <div class="chart-wrapper">
                        <ngx-charts-bar-vertical
                            class="col-md-12"
                            [view]=""
                            [scheme]="colorScheme"
                            [results]="yoyprjdls"
                            [gradient]="false"
                            [xAxis]="true"
                            [yAxis]="true"
                            [legend]="false"
                            [showXAxisLabel]="true"
                            [showYAxisLabel]="true"
                            [xAxisLabel]="'Year'"
                            [yAxisLabel]="'Dollars'"
                            (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
