// Here you can add other styles
.clickable { cursor: pointer; }

.right-align { text-align: right; }
.center-align { text-align: center; }

.grow { transition: all .3s ease-in-out; }

.grow:hover { 
    transform: scale(1.05);
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.45);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.45);
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.pdfestimate-card-header {
    background-color: darken($brand-primary, 15%);
    color: #fff;
}

.pdfestimate-header {
    color: darken($brand-primary, 5%);
}

.table-cell-rightborder {
    border-right: 1px solid #cfd8dc;
}

.table-cell-bottomborder {
    border-bottom: 1px solid #cfd8dc
}

.size-halfway {
    width: 50%;
}