<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary">New Estimate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
  </div>
  <div class="row" *ngFor="let estimate of EstimateHdr">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <strong>Estimate Details</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-4"><strong>Estimate Name</strong></label>
            <div class="col-md-4">
              <p>{{estimate.EstimateName}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4"><strong>Total Cost</strong></label>
            <div class="col-md-4">
              <p>{{estimate.TotalCost |  currency : 'USD' : true : '1.2-2'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4"><strong>Effort</strong></label>
            <div class="col-md-4">
              <p>{{estimate.Effort | number: '1.2-2'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4"><strong>Date Created</strong></label>
            <div class="col-md-4">
              <p>{{estimate.CreationDate | date: 'fullDate'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Financial Figures</strong>
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-sm-2"><strong>Total Cost</strong></label>
            <div class="col-sm-2">
              <p>{{estimate.TotalCost |  currency : 'USD' : true : '1.2-2'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2"><strong>Labor Cost</strong></label>
            <div class="col-sm-2">
              <p>{{estimate.Cost |  currency : 'USD' : true : '1.2-2'}}</p>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2"><strong>Add-On Cost</strong></label>
            <div class="col-sm-2">
              <p>{{estimate.AddOnCost |  currency : 'USD' : true : '1.2-2'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>