<div class="animated fadeIn" *ngFor="let estimate of EstimateHdr">
  <div class="card">
    <div class="card-header">
      Estimate Details
      <div class="card-actions">
        <a class="btn-close clickable" title="Print this estimate" (click)="printEstimate(estimate)"><i class="fa fa-print fa-lg"></i></a>
        <a class="btn-close clickable" title="Clone this estimate"><i class="fa fa-clone fa-lg"></i></a>
        <a class="btn-close clickable" title="Delete this estimate"><i class="fa fa-trash-o fa-lg"></i></a>
      </div>
    </div>
    <div class="card-block">
      <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" #estimateform="ngForm">
        <div class="form-group row">
          <label class="col-md-2 form-control-label" for="estimatename">Estimate Name</label>
          <div class="col-md-6">
            <input id="estimatename" name="estimatename" class="form-control" type="text" [(ngModel)]="estimate.EstimateName">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 form-control-label">Total Cost</label>
          <div class="col-md-10">
            <p class="form-control-static">
              {{estimate.TotalCost |  currency : 'USD' : true : '1.2-2'}}
              &nbsp;(Labor:&nbsp;{{estimate.Cost |  currency : 'USD' : true : '1.2-2'}},&nbsp;Add-Ons:&nbsp;{{estimate.AddOnCost |  currency : 'USD' : true : '1.2-2'}})
            </p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 form-control-label">Effort (hrs)</label>
          <div class="col-md-10">
            <p class="form-control-static">{{estimate.Effort | number: '1.2-2'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="assumptions-input">Assumptions</label>
              <textarea id="assumptions-input" name="assumptions-input" class="form-control" rows="5" [(ngModel)]="estimate.Assumptions"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="inscope-input">In Scope</label>
              <textarea id="inscope-input" name="inscope-input" class="form-control" rows="5" [(ngModel)]="estimate.InScope"></textarea>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="outofscope-input">Out Of Scope</label>
              <textarea id="outofscope-input" name="outofscope-input" class="form-control" rows="5" [(ngModel)]="estimate.OutOfScope">{</textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-md-4">Created on&nbsp;{{estimate.CreationDate | date: 'fullDate'}}&nbsp;by&nbsp;{{estimate.CreatedByName}}</label>
          <label class="col-md-4">Updated on&nbsp;{{estimate.UpdateDate | date: 'fullDate'}}&nbsp;by&nbsp;{{estimate.UpdatedByName}}</label>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="reset()">Undo</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Component Breakdown
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-lg-12">
          <button type="button" class="btn btn-primary btn-sm float-right">New Component</button>
        </div>
      </div>
      <br>
      <table class="table table-hover table-outline mb-0">
        <thead class="thead-default">
          <tr>
            <th>Component Name</th>
            <th>Complexity</th>
            <th class="text-right">Effort (hrs)</th>
            <th class="text-right">Cost</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr class="clickable" *ngFor="let component of ComponentList" routerLinkActive="active" [routerLink]="['/estimates','component', component.ComponentId]">
            <td>{{component.ComponentName}}</td>
            <td>{{component.Complexity}}</td>
            <td class="text-right">{{component.Effort | number: '1.2-2'}}</td>
            <td class="text-right">{{component.Cost |  currency : 'USD' : true : '1.2-2'}}</td>
            <td>{{component.Notes}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Role Breakdown
    </div>
    <div class="card-block">
      <table class="table table-outline mb-0">
        <thead class="thead-default">
          <tr>
            <th>Role Name</th>
            <th class="text-right">Hourly Rate</th>
            <th class="text-right">Effort (hrs)</th>
            <th class="text-right">Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of EstimateRoleList">
            <td>{{role.RoleName}}</td>
            <td class="text-right">{{role.HourlyRate |  currency : 'USD' : true : '1.2-2'}}</td>
            <td class="text-right">{{role.Effort | number: '1.2-2'}}</td>
            <td class="text-right">{{role.Cost |  currency : 'USD' : true : '1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- card block -->
  </div>
</div> <!-- animated fadein -->



<!-- HTML FOR PRINTING -->
<div id="printableEstimate" style="display: none" *ngFor="let estimate of EstimateHdr">
  <table>
    <tr>
      <td colspan="2"><h1>Integration Solutions&nbsp;-&nbsp;{{estimate.InitiativeName}}</h1></td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
      <td style="white-space:nowrap; vertical-align:top"><h2>Estimate Name:</h2></td>
      <td><h3>{{estimate.EstimateName}}</h3></td>
    </tr>
    <tr>
      <td style="white-space:nowrap; vertical-align:top"><h2>Estimate Date:</h2></td>
      <td><h3>{{estimate.UpdateDate | date: 'fullDate'}}</h3></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td style="vertical-align:top"><h2>Total Cost:</h2></td>
      <td><h3>{{estimate.TotalCost |  currency : 'USD' : true : '1.2-2'}}&nbsp;(Labor:&nbsp;{{estimate.Cost |  currency : 'USD' : true : '1.2-2'}},&nbsp;Add-Ons:&nbsp;{{estimate.AddOnCost |  currency : 'USD' : true : '1.2-2'}})</h3></td>
    </tr>
    <tr>
      <td style="vertical-align:top"><h2>Total Effort (hrs):</h2></td>
      <td><h3>{{estimate.Effort | number: '1.2-2'}}</h3></td>
    </tr>
  </table>
  <br/>
  <table>
    <tr><td><h2>In Scope:</h2></td></tr>
    <tr><td style="padding-left:2em; white-space: pre;">{{estimate.InScope}}</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><h2>Out of Scope:</h2></td></tr>
    <tr><td style="padding-left:2em; white-space: pre;">{{estimate.OutOfScope}}</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><h2>Assumptions:</h2></td></tr>
    <tr><td style="padding-left:2em; white-space: pre;">{{estimate.Assumptions}}<br/></td></tr>
  </table>
  <br/>
  <br/>
  <h2>Breakdown by Component:</h2>
  <table border="1" class="tabstyle">
      <tr>
          <th style="text-align: left">Components</th>
          <th style="text-align: right">Effort</th>
          <th style="text-align: right">Cost</th>
          <th style="text-align: left">Notes</th>
      </tr>
      <tr *ngFor="let component of ComponentList">
          <td style="text-align: left; white-space:nowrap">{{component.ComponentName}}</td>
          <td align="right">{{component.Effort | number: '1.2-2'}}</td>
          <td align="right">{{component.Cost |  currency : 'USD' : true : '1.2-2'}}</td>
          <td>{{component.Notes}}</td>
      </tr>
      <tr>
          <td>Components Total</td>
          <td></td>
          <td></td>
          <td>&nbsp;</td>
      </tr>
  </table>
  <br/> 
  <br/>
  <h2>Breakdown by Role:</h2>
  <table border="1" class="tabstyle">
      <tr>
          <th style="text-align: left">Role</th>
          <th style="text-align: right">Total (hrs)</th>
          <th style="text-align: right">Rate/hr</th>
          <th style="text-align: right">Total ($)</th>
      </tr>
      <tr *ngFor="let role of EstimateRoleList">
          <td style="text-align: left">{{role.RoleName}}</td>
          <td align="right">{{role.Effort | number: '1.2-2'}}</td>
          <td align="right">{{role.HourlyRate |  currency : 'USD' : true : '1.2-2'}}</td>
          <td class="right">{{role.Cost |  currency : 'USD' : true : '1.2-2'}}</td>
      </tr>
      <tr>
          <td>Grand Total</td>
          <td></td>
          <td></td>
          <td></td>
      </tr>
  </table>
  <!--
  <h2>Add-Ons:</h2>
  <table border="1" class="tabstyle">
      <tr>
          <th>Add-On</th>
          <th>Total</th>
      </tr>
      <tr>
          <td></td>
          <td align="right"></td>
      </tr>
      <tr>
          <td>Grand Total</td>
          <td></td>
      </tr>
  </table>
  -->
</div>