<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary">New Estimate</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">&nbsp;</div>
  </div>
  <!-- Estimate card -->
  <div class="row" *ngFor="let estimate of EstimateHdr">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
              <strong>Estimate Details</strong>
              <i class="fa fa-caret-down float-right clickable" aria-hidden="true" title="Expand" (click)="toggleContent('estimate')" *ngIf="!showEstimateContent"></i>
              <i class="fa fa-caret-up float-right clickable" aria-hidden="true" title="Collapse" (click)="toggleContent('estimate')" *ngIf="showEstimateContent"></i>
              <i class="fa fa-pencil float-right clickable" aria-hidden="true" title="Edit Estimate" (click)="setEditMode()" *ngIf="!editMode"></i>
              <i class="fa fa-floppy-o float-right clickable" aria-hidden="true" title="Save Edits" (click)="setDisplayMode()" *ngIf="editMode"></i>
              <i class="fa fa-ban float-right clickable" aria-hidden="true" title="Cancel Edits" (click)="setDisplayMode()" *ngIf="editMode"></i>
              <i class="fa fa-trash-o float-right clickable" aria-hidden="true" title="Delete Estimate" *ngIf="!editMode"></i>
        </div>
        <div class="col-md-8 offset-md-2" *ngIf="showEstimateContent">
          <div class="card-block">
            <div class="form-group row">
              <label class="col-md-3 right-align"><strong>Estimate Name</strong></label>
              <div class="col-md-3">
                <p *ngIf="!editMode">{{estimate.EstimateName}}</p>
                <p *ngIf="editMode"><input type="text" value="{{estimate.EstimateName}}"></p>
              </div>
              <label class="col-md-3 right-align"><strong>Total Cost</strong></label>
              <div class="col-md-3">
                <p>{{estimate.TotalCost |  currency : 'USD' : true : '1.2-2'}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 right-align"><strong>Effort (hrs)</strong></label>
              <div class="col-md-3">
                <p>{{estimate.Effort | number: '1.2-2'}}</p>
              </div>
              <label class="col-md-3 right-align"><strong>Labor Cost</strong></label>
              <div class="col-md-3">
                <p>{{estimate.Cost |  currency : 'USD' : true : '1.2-2'}}</p>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 right-align"><strong>Date Created</strong></label>
              <div class="col-md-3">
                <p>{{estimate.CreationDate | date: 'fullDate'}}</p>
              </div>
              <label class="col-md-3 right-align"><strong>Add-On Cost</strong></label>
              <div class="col-md-3">
                <p>{{estimate.AddOnCost |  currency : 'USD' : true : '1.2-2'}}</p>
              </div>
            </div>
          </div> <!-- card block -->
        </div>
      </div>
    </div> <!-- col-md-12 -->
  </div>
  <!-- Estimate Card -->
  <!-- Components Card -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header clickable" (click)="toggleContent('components')">
          <strong>Components</strong>
          <i class="fa fa-trash-o float-right" aria-hidden="true" title="Delete All Components"></i>
        </div>
        <div class="card-block" *ngIf="showComponentListContent">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>Component Name</th>
                <th>Complexity</th>
                <th class="right-align">Effort (hrs)</th>
                <th class="right-align">Cost</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr class="grow clickable" *ngFor="let component of ComponentList" (click)="goToDetails(component.ComponentId)">
                <td>{{component.ComponentName}}</td>
                <td>{{component.Complexity}}</td>
                <td class="right-align">{{component.Effort | number: '1.2-2'}}</td>
                <td class="right-align">{{component.Cost |  currency : 'USD' : true : '1.2-2'}}</td>
                <td>{{component.Notes}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- col-md-12 -->
  </div> <!-- main row -->
  <!-- Components card -->
  <!-- Roles card -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header clickable" (click)="toggleContent('roles')">
          <strong>Roles</strong>
          <i class="fa fa-trash-o float-right" aria-hidden="true" title="Delete All Assignments"></i>
        </div>
        <div class="card-block" *ngIf="showEstimateRoleListContent">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Role Name</th>
                <th class="right-align">Hourly Rate</th>
                <th class="right-align">Effort (hrs)</th>
                <th class="right-align">Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let role of EstimateRoleList">
                <td>{{role.RoleName}}</td>
                <td class="right-align">{{role.HourlyRate |  currency : 'USD' : true : '1.2-2'}}</td>
                <td class="right-align">{{role.Effort | number: '1.2-2'}}</td>
                <td class="right-align">{{role.Cost |  currency : 'USD' : true : '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> <!-- col-md-12 -->
  </div> <!-- main row -->
  <!-- Roles card -->
</div>